* {
    font-family: sans-serif;
}

.text {
    float: left;
    margin-left: 700px;
    margin-top: 200px;
}

.text h1 {
    color: #1877F2;
    font-weight: 650;
    font-size: 65px;
    margin-bottom: 0px;
    padding-bottom: 1px;
}

.text h2 {
    color: black;
    font-weight: 100;
    margin-top: 1px;
    font-size: 31px;
}


.box {
    width: 450px;
    height: 400px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 6px;
    float: right;
    margin-right: 750px;
    margin-top: 250px;
}

.box input {
    width: 420px;
    height: 40px;
    margin-left: 11px;
    margin-top: 11px;
    border: none;
    outline: none;
    color: #778899;
    font-size: 15px;
    font-weight: 500;

}

input[type=text]:focus {
    border: 1px solid #1877F2;
    border-radius: 5px;
    color: #778899;
}

.Log {
    width: 420px;
    height: 50px;
    margin-left: 11px;
    color: white;
    background-color: #1877F2;
    border: none;
    border-radius: 5px;
    text-align: center;
    line-height: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Log p {
    font-size: 25px;
    font-weight: 700;
}

.box a {
    text-decoration: none;
    color: #1877F2;
    font-family: sans-serif;
    margin-left: 145px;
    margin-bottom: 0px;
}

.box a:hover {
    text-decoration: underline;
}

.line {
    font-size: 25px;
    font-weight: 10;
    margin-left: 11px;
    margin-top: 0px;
    color: #778899;
    filter: blur(3px);
    margin-bottom: 0px;
}

.new {
    width: 240px;
    height: 60px;
    background-color: #17bf44;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 103px;
    margin-top: 35px;
}

.bottom {
    color: black;
    line-height: 180px;
    margin-left: 50px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}